.container {
    display: flex;
    margin-top: 300px;
    justify-content: center;
}
.block {
    width: 200px;
    font-size: 1.3rem;
    border: 1px solid black;
    text-align: center;
    height: fit-content;
    padding: 10px 0;
}
.block a {
    text-decoration: none;
    color: black;
}

.block a:hover {
    color: red;
}

.block:hover {
    color: red;
    background: linear-gradient(to top, wheat, white);
    box-shadow: 0 0 6px black;
}