.container {
    display: flex;
    margin-top: 300px;
    justify-content: center;
}

button {
    background: white;
    width: 200px;
    height: 50px;
    font-size: 1.4rem;
}

button:hover {
    color: red;
    background: linear-gradient(to top, wheat, white);
    cursor: pointer;
    box-shadow: 0 0 6px black;
}