.container {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.card {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
}
.card__date {
    height: fit-content;
    background: #3f96b4;
    text-align: center;
}
.card__date p{
    font-size: 2rem;
    color: white;
    margin: 5% 0;
}

.card__temperature {
    height: fit-content;
    text-align: center;
}
.card__temperature p {
    font-size: 4rem;
    margin: 5% 0;
}
.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover{
    box-shadow: 0 0 10px;
}
