* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: hsl(254, 90%, 21%);
}

.container {
    max-width: 1024px;
    min-height: 100%;
    margin: 0 auto;
}

.hosts {
    margin: 100px;
}

.hosts__row {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 50px 0 black;
}

.hosts__item {
    width: 33.333%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(185, 185, 185);
}

.item {
    border-right: none;

}

.hosts__icon {
    margin: 10px 0 5px 0;
}

img {
    max-width: 100px;
    max-height: 100px;
}

.hosts__name {
    color: chocolate;
    font-weight: 500;
    margin: 10px 0;
}

.hosts__price {
    font-size: 20px;
    margin: 10px 0;
}

.hosts__button button{
    margin: 10px 0;
    height: 30px;
    width: 130px;
    font-size: 20px;
    border-radius: 5px;
    background: chocolate;
    color: white;
}

