.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 30px 0;
}
input {
    height: 30px;
    font-size: 14px;
    margin: 0;
}
button {
    height: 36px;
    font-size: 14px;
}
img {
    margin: 0 20px;
    cursor: pointer;
}
.tasks input {
    margin: 0 20px;
}
.text {
    margin: 0 20px;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;
}